À l’attention de {{maire.civilite}} {{maire.nom}}, maire de la commune
de {{maire.commune_nom}},

Bonjour,

J’ai l’honneur de vous contacter pour vous annoncer ma candidature à
l’élection présidentielle de 2017 en tant que candidat libre.
Aujourd’hui, je m’adresse à vous dans l’espoir d’obtenir votre
présentation.

Les idées de mon programme sont orientées suivant ces grandes lignes :

- Améliorer le système d’élection des représentants des citoyens avec
l’introduction d’un scrutin direct dans les votes de l’Assemblée.

- Diriger les industries vitales pour notre pays vers l’avenir avec la
transition dans les énergies renouvelables, le développement d’une
agriculture raisonnée, et la préservation d’une recherche et d’une
éducation de qualité.

- Favoriser l’égalité dans notre modèle socio-économique en modifiant
les impôts, la fiscalité et les aides sociales.

Vous trouverez, en pièce jointe, mon programme complet. Il évolue au
quotidien en fonction des propositions citoyennes que je reçois. Vous
pouvez trouver la dernière version sur le site web dédié à ma
campagne: http://vlamotte.fr/

Jeune citoyen de 27 ans, mon programme porte les aspirations et les
interrogations d’une jeunesse pragmatique et volontaire qui est
désabusée par les partis politiques traditionnels. Nous pensons qu’il
est nécessaire de réformer nos institutions pour les rendre plus
proches des citoyens. Je défends donc une démocratie efficace,
raisonnée et juste. Je suis bien conscient que ma candidature doit
vous paraître impossible. Cependant, j’estime que votre soutien
apporterait une visibilité certaine à des idées trop souvent mises de
côté par les autres candidats.

Dans l’attente d’une réponse de votre part, veuillez agréer, 
{% if maire.civilite =='M' %}monsieur le{% elif maire.civilite == 'Mme' %}madame la{% else%}mademoiselle la{% endif %} Maire, l'expression de mes respectueuses salutations.

Vincent Lamotte
1 chemin des sétérées du dessous
38240 Meylan
me@vlamotte.fr
